@using SocialMedia.Areas.Admin.ViewModels.Announcement
@model IEnumerable<AnnouncementViewModel>

@{
    ViewData["Title"] = "All Announcements";
}

<div class="text-white">
    <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    @if (!this.User.IsInRole("User"))
    {
        <div class="text-center">
            <a asp-controller="Announcement" asp-action="Create" id="announcement-button" class="btn btn-primary">Create Announcement</a>
        </div>
    }

    <div id="announcements">
        @foreach (var announcement in Model)
        {
            <div id="announcement">
                <h4 class="">@announcement.Title - (@@@announcement.UserUsername @announcement.PublishDate)</h4>
                <p>@announcement.Description</p>
                <a asp-controller="Announcement" asp-action="Edit" asp-route-id="@announcement.Id">Edit</a>
                <a asp-controller="Announcement" asp-action="Delete" asp-route-id="@announcement.Id">Delete</a>
            </div>
        }
    </div>
</div>

@section Scripts {
    @if (TempData["SuccessEdit"] != null)
    {
        <script>
            toastr.options = {
                positionClass: "toast-bottom-right"
            };

            toastr.success('@TempData["SuccessEdit"]');
        </script>
    }
}

@section Styles {
    <link rel="stylesheet" href="~/css/announcement-all.css" />
}