@using SocialMedia.Areas.Admin.ViewModels.User
@model UserViewModel

@{
    ViewData["Title"] = "Demote To User";
}

<h2 class="display-4 text-white text-center">Demote to User</h2>
<div class="demote-container">
    <div class="text-white p-2">
        <p class="text-center">Are you sure you want to demote @@@Model.UserUsername (@Model.UserFullName)?</p>
        <div class="detailed-information-container">
            <div class="current-email">
                <span><i class="fa-solid fa-envelope"></i> Email:</span>
                <p>@Model.UserEmail</p>
            </div>
            <div class="current-role">
                <span><i class="fa-solid fa-calendar"></i> Date:</span>
                <p>@Model.JoinedDate</p>
            </div>
            <div class="joined-date">
                <span><i class="fa-solid fa-user"></i> Role:</span>
                <p>@Model.UserRole</p>
            </div>
        </div>

        <form asp-area="Admin" asp-controller="User" asp-action="Demote" asp-route-id="@Model.UserId" method="post">
            <input hidden asp-for="@Model.UserEmail" />
            <input id="demote-button" value="Demote" type="submit" class="btn" />
        </form>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/demote.css" />
}